@import '../../style/vars';

.error404{
    min-height: calc(100vh - 180px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: $height_menu;
    h1{
        text-transform: uppercase;
        text-align: center;
        font-size: 49px;
        font-family: $font_family;
        font-weight: 500;
        width: 100%;
        color: $link_hover_color;
    }
    h2{
        @include h2;
    }
}