@import '../../style/_vars.scss';
@import '../TableWithAllWords/TableWithAllWords.scss';

.LineOfTable{
    border: 2px solid $background_color_akcent;
    @include LineOfTable;
    &:hover{
        border: 2px solid $color_lite_blue;
    }
    &__edit{
        display: flex;
        gap: 25px;
        justify-content: center;
        button{
            border: 0px;
            background-color: $background_color;
        }
    }
    &__edit img{
        width: 20px;
        height: auto;
        &:hover{
            transform: scale(1.2);
        }
    }
    &__input{
        height: 30px;
        width: 90%;
        margin-left: 10px;
        border: 1px solid $color_lite_blue;
    }
}
.error{
    border: 2px solid red;
}