@import '../../style/vars';


.main{
    height: 90vh;
    color: $font_color;
    height: max-content;
    min-height: calc(100vh - 180px);
    margin-top: $height_menu;

    .firstPage{
        .titlePart{
            display: flex;
            margin-top: 40px;
            &__left{
                display: flex;
                flex-direction: column;
                gap: 20px;
                
                &__h1{
                    text-transform: uppercase;
                    text-align: left;
                    font-size: 49px;
                    font-family: $font_family;
                    font-weight: 500;
                    width: 100%;
                    color: $color_lite_blue;
                }
                &__text{
                    font-size: $text_size_desktop;
                }

            }
            &__right{
                width: 100%;
            }
        }
    }

}

