$font_family: 'Rubik', sans-serif;
$font_color: #0A0F32;
$link_hover_color: #2A3898;
$background_color: #F7F8FF;
$color_button_red: #D64C4C;
$color_button_green: #3FB970;
$background_color_akcent: #E1E4F5;

$titile_size_desktop: 2.5vw;

