
.sliderWorlds{
    &__wrapper{
        display: flex;
        justify-content: center;
        gap: 30px;
    }
    &__wrapper img{
        &:hover{
            transform: scale(1.1);
        }
    }
}