@import '../../style/_vars.scss';


.cardOfWorld {
    background-color: $color_lite_blue;
    width: 560px;
    height: 250px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    &__info{
        padding-bottom: 30px; 
        display: flex;
        gap: 20px;
        font-size: 24px;
    }
    &__slovo, &__perevod, &__button{
        color: white;
    }
    &__trans{
        color: $background_color_akcent;
    }
    &__button{
        border-bottom: 2px solid white;
    &:hover{
        font-weight: 500;
        cursor: pointer;
    }}
    .active{
        display: inline;
        color: white;
    }
    .disactive{
        display: none;
        color: white;
    }
}
